{% extends 'base.html.twig' %}

{% block title %}Hello ContactMailController!{% endblock %}

{% block body %}
    {{ form_start(form)}}
    {{ form_widget(form.firstName, {'attr': {'placeholder': 'Nom'}})}}
    {{ form_widget(form.lastName, {'attr': {'placeholder': 'Prenom'}})}}
    {{ form_widget(form.subject, {'attr': {'placeholder': 'Objet'}})}}
    {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}})}}
    {{ form_widget(form.content, {'attr': {'placeholder': 'Vos questions...'}})}}
    <button type="submit" class="button">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}
