{% extends 'base.html.twig' %}

{% block title %}{{agency.name}}{% endblock %}

{% block body %}
<main>
<section id="detailSection" class="detailSection">
    {% if agency.bannerImage is not null %}
        <div class="introContainer" style="background-image: url('{{vich_uploader_asset(agency, 'bannerFile')}}');"></div>
    {% else %}
        <div class="introContainer" style="background-image: url('{{asset('images/placeholder.png')}}');"></div>
    {% endif %}

    <div class="profileContainer">
        {% if agency.image is not null %}
            <img src="{{vich_uploader_asset(agency)}}" alt="">
        {% else %}
            <img src="{{asset('images/placeholder.png')}}" alt="">
        {% endif %}
        <div>
            <h2>Agence : {{agency.Name}}</h2>
            {% if agency.adress is defined %}
            <p class="adress"><i class="fa-solid fa-location-dot"></i> {{agency.adress}}</p>
            {% endif %}

            {% if agency.agencyCategory|length >= 1 %}
                <div class="categories">
                {% if agency.agencyCategory|length > 1 %}
                    <p>Spécialités :</p>
                {% else %}
                    <p>Spécialité :</p>
                {% endif %}
                    <div>
                        {% for category in agency.agencyCategory %}
                            <span class="tags">{{category}} </span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
    <ul class="profileNav">
    <li class="navAbout" data-status="selected" data-link="description">A propos</li>
    <li class="navTalent" data-status="unselected" data-link="talent">Talents</li>
    <li class="navContact" data-status="unselected" data-link="contact">Contact</li>
    </ul>

    <div class="aboutDescription" data-status="visible" data-link="description">
        {{agency.description|raw}}
    </div>

    {% if talents|length >= 1 %}
        <div class="talentContainer cardContainerBackground" data-status="hidden" data-link="talent">
            {% if talents|length == 1 %}
                <h2>Talent de l’agence :</h2>
                <div class="lineSeparator"></div>
            {% else %}
                <h2>Talents de l’agence :</h2>
                <div class="lineSeparator"></div>
            {% endif %}
            <div class="cardContainer">
                {% for talent in talents %}
                <div class="card">
                    {% include "talent/talentCard.html.twig" with {talent: talent} %}
                </div>
                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(talents, 'pagination.html.twig') }}
            </div>
        </div>
    {% endif %}

    <div class="contactInfoContainer" data-status="hidden" data-link="contact">
        <h2>Prise de contact</h2>
        <p>Retrouvez l'agence {{agency.name}} sur ses réseaux ou sur son site</p>
        <div class="socialsLink">
            {% if agency.youtubeLink is not null %}
            <a href="{{agency.youtubeLink}}"><i class="fa-brands fa-youtube"></i></a>
            {% endif %}
            {% if agency.twitterLink is not null %}
            <a href="{{agency.twitterLink}}"><i class="fa-brands fa-twitter-square"></i></a>
            {% endif %}
            {% if agency.facebookLink is not null %}
            <a href="{{agency.facebookLink}}"><i class="fa-brands fa-facebook-square"></i></a>
            {% endif %}
            {% if agency.instagramLink is not null %}
            <a href="{{agency.instagramLink}}"><i class="fa-brands fa-instagram"></i></a>
            {% endif %}
            {% if agency.linkedinLink is not null %}
            <a href="{{agency.linkedinLink}}"><i class="fa-brands fa-linkedin"></i></a>
            {% endif %}
            {% if agency.webLink is not null %}
            <a href="{{agency.webLink}}">Site web</a>
            {% endif %}
        </div>
        <p>Vous pouvez aussi prendre contact par mail ou par téléphone</p>
        <a href="" target="_blank" ><i class="fa-solid fa-envelope"></i> {{agency.email}}</a>
        <a href="" target="_blank" ><i class="fa-solid fa-phone"></i> {{agency.phoneNumber}}</a>
    </div>

        {% if is_granted('ROLE_ADMIN') %}
            {% set url = ea_url()
            .setController('App\\Controller\\Admin\\AgencyCrudController')
            .setAction('edit')
            .setEntityId(agency.id) %}
            <a href="{{ url }}" class="button edit">Modifier</a> 
        {% endif %}
    </div>
    <a href="{{path('app_group_index')}}" class="button">Retour</a>
</section>
</main>
{% endblock %}
