{% if group.image is not null %}
<img src="{{vich_uploader_asset(group)}}" alt="">
{% else %}
    <img src="{{asset('images/placeholder.png')}}" alt="">
{% endif %}
<h2>Société : {{group.Name}}</h2>

{% if group.companyCategory|length >= 1 %}
    <div class="categories">
    <i class="fa-solid fa-tags tagsIcon" ></i>
        {% for category in group.companyCategory %}
            <span class="tags">{{category}} </span>
        {% endfor %}
    </div>
{% endif %}

<p class="description">{{group.description|striptags > 150 ? group.description|striptags|slice(0, 151)|split(' ')|slice(0, -1)|join(' ') ~ '...' : group.description}}</p>

<div class="socialsLink">
    {% if group.youtubeLink is not null %}
    <a href="{{group.youtubeLink}}" class="youtubeIcon"><i class="fa-brands fa-youtube"></i></a>
    {% endif %}
    {% if group.twitterLink is not null %}
    <a href="{{group.twitterLink}}" class="twitterIcon"><i class="fa-brands fa-twitter-square"></i></a>
    {% endif %}
    {% if group.facebookLink is not null %}
    <a href="{{group.facebookLink}}" class="facebookIcon"><i class="fa-brands fa-facebook-square"></i></a>
    {% endif %}
    {% if group.instagramLink is not null %}
    <a href="{{group.instagramLink}}" class="instagramIcon"><i class="fa-brands fa-instagram"></i></a>
    {% endif %}
    {% if group.linkedinLink is not null %}
    <a href="{{group.linkedinLink}}" class="linkedinIcon"><i class="fa-brands fa-linkedin"></i></a>
    {% endif %}
    {% if group.webLink is not null %}
    <a href="{{group.webLink}}" class="websiteIcon"><i class="fa-solid fa-globe"></i></a>
    {% endif %}
</div>

<a href="{{path('app_group_company_detail',{id : group.id})}}" class="button">Lire plus</a>