{% extends 'base.html.twig' %}

{% block title %}{{company.name}}{% endblock %}

{% block body %}
<main>
<section id="detailSection" class="detailSection">
    {% if company.bannerImage is not null %}
        <div class="introContainer" style="background-image: url('{{vich_uploader_asset(company, 'bannerFile')}}');"></div>
    {% else %}
        <div class="introContainer" style="background-image: url('{{asset('images/placeholder.png')}}');"></div>
    {% endif %}

    <div class="profileContainer">
        {% if company.image is not null %}
            <img src="{{vich_uploader_asset(company)}}" alt="">
        {% else %}
            <img src="{{asset('images/placeholder.png')}}" alt="">
        {% endif %}
        <div>
            <h2>Société : {{company.name}}</h2>
            {% if company.adress is defined %}
            <p class="adress"><i class="fa-solid fa-location-dot"></i> {{company.adress}}</p>
            {% endif %}

            {% if company.companyCategory|length >= 1 %}
                <div class="categories">
                {% if company.companyCategory|length > 1 %}
                    <p>Spécialités :</p>
                {% else %}
                    <p>Spécialité :</p>
                {% endif %}
                    <div>
                        {% for category in company.companyCategory %}
                            <span class="tags">{{category}} </span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <ul class="profileNav">
        <a href="#description"><li>A propos</li></a>
        <a href="#projectContainer"><li>Projets</li></a>
        <a href="#contactInfoContainer"><li>Contact</li></a>
    </ul>

    <div class="aboutDescription">
        {{company.description|raw}}
    </div>

    {% if projects|length >= 1 %}
    <div class="projectContainer">
        {% if projects|length == 1 %}
            <h2>Le projet auquel {{company.name}} a participé :</h2>
        {% else %}
            <h2>Les projets auxquels {{company.name}} a participé :</h2>
        {% endif %}
        <div class="projects">
            {% for project in projects %}
                {# <div class="projectCard">{% include "project/projectCard.html.twig" %}</div> #}
            {% if project.status == 'En cours' %}
                <div class="projectCard projectCurrent">
                    {% include "project/projectCard.html.twig" %}                    
                </div>
            {% endif %}

            {% if project.status == 'En recherche de talents' %}
                    <div class="projectCard projectLooking">
                        {% include "project/projectCard.html.twig" %}                    
                    </div>
            {% endif %}

            {% if project.status == 'Terminé' %}
                    <div class="projectCard projectOver">
                        {% include "project/projectCard.html.twig" %}                    
                    </div>
            {% endif %}                        
            {% endfor %}
        </div>

        <div class="navigation">
        {{ knp_pagination_render(projects, 'pagination.html.twig') }}
        </div>
    </div>
    {% endif %}

    <div class="contactInfoContainer">
        <h2>Prise de contact</h2>
        <p>Retrouvez l'agence {{company.name}} sur ses réseaux ou sur son site</p>
        <div class="socialsLink">
            {% if company.youtubeLink is not null %}
            <a href="{{company.youtubeLink}}"><i class="fa-brands fa-youtube"></i></a>
            {% endif %}
            {% if company.twitterLink is not null %}
            <a href="{{company.twitterLink}}"><i class="fa-brands fa-twitter-square"></i></a>
            {% endif %}
            {% if company.facebookLink is not null %}
            <a href="{{company.facebookLink}}"><i class="fa-brands fa-facebook-square"></i></a>
            {% endif %}
            {% if company.instagramLink is not null %}
            <a href="{{company.instagramLink}}"><i class="fa-brands fa-instagram"></i></a>
            {% endif %}
            {% if company.linkedinLink is not null %}
            <a href="{{company.linkedinLink}}"><i class="fa-brands fa-linkedin"></i></a>
            {% endif %}
            {% if company.webLink is not null %}
            <a href="{{company.webLink}}">Site web</a>
            {% endif %}
        </div>
        <p>Vous pouvez aussi prendre contact par mail ou par téléphone</p>
        <a href="" target="_blank" ><i class="fa-solid fa-envelope"></i> {{company.email}}</a>
        <a href="" target="_blank" ><i class="fa-solid fa-phone"></i> {{company.phoneNumber}}</a>
    </div>
        {% if is_granted('ROLE_ADMIN') %}
            {% set url = ea_url()
            .setController('App\\Controller\\Admin\\AgencyCrudController')
            .setAction('edit')
            .setEntityId(company.id) %}
            <a href="{{ url }}" class="button edit">Modifier</a> 
        {% endif %}
    </div>
    <a href="{{path('app_group_index')}}" class="button">Retour</a>
</section>
</main>
{% endblock %}
