<img src="{{asset('images/copium.png')}}" alt="">
<h2>Société : {{group.Name}}</h2>
<p class="description">{{group.description|striptags > 150 ? group.description|striptags|slice(0, 151)|split(' ')|slice(0, -1)|join(' ') ~ '...' : group.description}}</p>

<div class="socialsLink">
    {% if group.youtubeLink is not null %}
    <a href="{{group.youtubeLink}}"><i class="fa-brands fa-youtube"></i></a>
    {% endif %}
    {% if group.twitterLink is not null %}
    <a href="{{group.twitterLink}}"><i class="fa-brands fa-twitter-square"></i></a>
    {% endif %}
    {% if group.facebookLink is not null %}
    <a href="{{group.facebookLink}}"><i class="fa-brands fa-facebook-square"></i></a>
    {% endif %}
    {% if group.instagramLink is not null %}
    <a href="{{group.instagramLink}}"><i class="fa-brands fa-instagram"></i></a>
    {% endif %}
    {% if group.linkedinLink is not null %}
    <a href="{{group.linkedinLink}}"><i class="fa-brands fa-linkedin"></i></a>
    {% endif %}
    {% if group.webLink is not null %}
    <a href="{{group.webLink}}">Site web</a>
    {% endif %}
</div>

{% if group.companyCategory|length >= 1 %}
    <div class="categories">
        {% for category in group.companyCategory %}
            <span class="tags">{{category}} </span>
        {% endfor %}
    </div>
{% endif %}

<a href="{{path('app_group_company_detail',{id : group.id})}}" class="button">Lire plus</a>