{% extends 'base.html.twig' %}

{% block title %}{{talent.firstName}} {{talent.lastName}}{% endblock %}

{% block body %}
<main>
<section id="talentDetail">
    <div class="profileContainer">
        <img src="{{asset('images/copium.png')}}" alt="">
        
        <div>
            <h2>{{talent.firstName}} {{talent.lastName}}</h2>

            {% if talent.talentCategory|length >= 1 %}
                <div class="categories">
                {% if talent.talentCategory|length > 1 %}
                    <p>Spécialités :</p>
                {% else %}
                    <p>Spécialité :</p>
                {% endif %}
                    {% for category in talent.talentCategory %}
                        <span class="tags">{{category}} </span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="introContainer">{{talent.description|raw}}</div>

    {% if talent.projects|length >= 1 %}
    <div class="projectContainer">
        {% if talent.projects|length == 1 %}
            <h2>Le projet auquel {{talent.firstName}} a participé :</h2>
        {% else %}
            <h2>Les projets auxquels {{talent.firstName}} a participé :</h2>
        {% endif %}
        <div class="projects">
            {% for project in talent.projects %}
                <a href="{{path('app_project_detail', {id:project.id})}}">{{project.name}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if talent.agencies|length >= 1 %}
    <div class="agencyContainer">
        {% if talent.agencies|length == 1 %}
            <h2>{{talent.firstName}} fait partie de l'agence :</h2>
        {% else %}
            <h2>{{talent.firstName}} fait partie des agences :</h2>
        {% endif %}
        <div class="cardContainer">
            {% for agency in talent.agencies %}
            <div class="card">
                {% include "company_agency/agencyCard.html.twig" with {group: agency} %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="contactContainer">
        <h2>Prise de contact</h2>
        <p>Retrouvez {{talent.firstName}} {{talent.lastName}} sur ses réseaux ou sur son site</p>
        <div class="socialsLink">
        {% if talent.youtubeLink is not null %}
        <a href="{{talent.youtubeLink}}"><i class="fa-brands fa-youtube"></i></a>
        {% endif %}
        {% if talent.twitterLink is not null %}
        <a href="{{talent.twitterLink}}"><i class="fa-brands fa-twitter-square"></i></a>
        {% endif %}
        {% if talent.facebookLink is not null %}
        <a href="{{talent.facebookLink}}"><i class="fa-brands fa-facebook-square"></i></a>
        {% endif %}
        {% if talent.instagramLink is not null %}
        <a href="{{talent.instagramLink}}"><i class="fa-brands fa-instagram"></i></a>
        {% endif %}
        {% if talent.linkedinLink is not null %}
        <a href="{{talent.linkedinLink}}"><i class="fa-brands fa-linkedin"></i></a>
        {% endif %}
        {% if talent.webLink is not null %}
        <a href="{{talent.webLink}}">Site web</a>
        {% endif %}
        </div>
        <p>Vous pouvez aussi prendre contact par mail ou par téléphone</p>
        <a href="" target="_blank" ><i class="fa-solid fa-envelope"></i> {{talent.email}}</a>
        <a href="" target="_blank" ><i class="fa-solid fa-phone"></i> {{talent.phoneNumber}}</a>
    </div>



        
    {% if is_granted('ROLE_ADMIN') %}
        {# <a href="{{path('admin',{crudAction : 'edit' , entityId : talent.id})}}">Modifier</a> #}
        {% set url = ea_url()
        .setController('App\\Controller\\Admin\\TalentCrudController')
        .setAction('edit')
        .setEntityId(talent.id) %}
        <a href="{{ url }}" class="button">Modifier</a>
    {% endif %}
<a href="{{path('app_talent_index')}}" class="button">Retour</a>
</section>
</main>
{% endblock %}
