{{ form_start(form, {'attr': {'class': 'filterForm'}})}}
{% if form.agency is defined %}
    <p>Filtres : </p>
    {% else %}
    <p>Filtrer par catégorie : </p>
{% endif %}
    {% if form.agency is defined %}
        <div class="groupForm">
            <div>
                <label class="inputLabel" for="{{form.agency.vars.id}}">
                {{ form_widget(form.agency)}}
                <span>Agence</span>
                </label>
            </div>
            <div>
                <label class="inputLabel" for="{{form.company.vars.id}}">
                {{ form_widget(form.company)}}
                <span>Société</span>
                </label>
            </div>
            
        </div>
    {% endif %}
    
    <div class="categoryForm">
    {% for checkbox in form.categories %}
        <div>
            <label class="inputLabel" for="{{checkbox.vars.id}}">
            {{ form_widget(checkbox)}}
            <span>{{checkbox.vars.label}}</span>
            </label>
        </div>
    {% endfor %}
    </div>
    {# <button type="submit" class="button">Filtrer</button> #}
    <div class="reset button">Reinitialiser</div>
{{ form_end(form) }}