<header>
    <div id="burgerButton">
        <span id="burger"></span>
    </div>
    <ul id="navbar">
        <a href="{{path('app_home')}}"><li>Accueil</li></a>
        <a href="{{path('app_talent_index')}}"><li>Talents</li></a>
        <a href="{{path('app_group_index')}}"><li>Groupe</li></a>
        <a href="{{path('app_our_talents_index')}}"><li>Nos Talents</li></a>
        <a href="{{path('app_project_index')}}"><li>Nos Projets</li></a>
        <a href="{{path('app_contact')}}"><li>Nous contacter</li></a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('admin')}}"><li>Admin</li></a>
            <a href="{{path('app_logout')}}"><li>Deconnexion</li></a>
        {% else %}
            <a href="{{path('app_login')}}"><li>Connexion</li></a>
        {% endif %}
    </ul>
</header>
