<header>
    <ul id="navbar">
        <li><a href="{{path('app_home')}}">Accueil</a></li>
        <li><a href="{{path('app_talent_index')}}">Talents</a></li>
        <li><a href="{{path('app_group_index')}}">Groupe</a></li>
        <li><a href="{{path('app_our_talents_index')}}">Nos Talents</a></li>
        <li><a href="{{path('app_project_index')}}">Nos Projets</a></li>
        <li><a href="{{path('app_contact')}}">Nous contacter</a></li>
        <li><a href="{{path('admin')}}">Admin</a></li>
    </ul>
</header>
