{% if companies|length == 1 %}
    <h2>Société participante :</h2>
    <div class="lineSeparator"></div>
{% else %}
    <h2>Sociétés participantes :</h2>
    <div class="lineSeparator"></div>
{% endif %}
<div class="cardContainer">
    {% for company in companies %}
    <div class="card">
        <div>
            {% if company.image is not null %}
                <img src="{{vich_uploader_asset(company)}}" alt="">
            {% else %}
                <img src="{{asset('images/placeholder.png')}}" alt="">
            {% endif %}
            <h2>Société : {{company.Name}}</h2>
        </div>
        <a href="{{path('app_group_company_detail',{id : company.id})}}" class="button">Lire plus</a>
    </div>
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(companies, 'pagination.html.twig') }}
</div>