{# <div class="projectCard"> #}
    <h2>{{project.name}}</h2>
    <p>{{project.description|striptags > 250 ? project.description|striptags|slice(0, 251)|split(' ')|slice(0, -1)|join(' ') ~ '...' : project.description}}</p>
    <a href="{{project.link}}">Lien web</a>

    <a href="{{path('app_project_detail', {id:project.id})}}" class="button">Détails</a>

    {% if is_granted('ROLE_ADMIN') %}
        {% set url = ea_url()
        .setController('App\\Controller\\Admin\\ProjectCrudController')
        .setAction('edit')
        .setEntityId(project.id) %}
        <a href="{{ url }}" class="button">Modifier</a>
    {% endif %}
{# </div> #}