{# <div class="projectCard"> #}
{% if project.bannerImage is not null %}
    <img src="{{vich_uploader_asset(project, 'bannerFile')}}" alt="">
{% else %}
    <img src="{{asset('images/placeholder.png')}}" alt="">
{% endif %}
<div class="textContainer">
    <h3>{{project.name}}</h3>
    <p>{{project.description|striptags > 300 ? project.description|striptags|slice(0, 301)|split(' ')|slice(0, -1)|join(' ') ~ '...' : project.description}}</p>
    {# <a href="{{project.link}}">Lien web</a> #}

    <a href="{{path('app_project_detail', {id:project.id})}}" class="button">Détails</a>

    {% if is_granted('ROLE_ADMIN') %}
        {% set url = ea_url()
        .setController('App\\Controller\\Admin\\ProjectCrudController')
        .setAction('edit')
        .setEntityId(project.id) %}
        <a href="{{ url }}" class="button">Modifier</a>
    {% endif %}
</div>
{# </div> #}